<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 | XX系统</title>
    <!-- favicon-->
    <link rel="icon" href="../favicon.png">
    <!-- vue -->
    <script src="../static/vue/vue@3.3.4_vue.global.js"></script>
    <!-- axios -->
    <script src="../static/axios/axios@1.4.0_axios.min.js"></script>
    <!-- element-ui-plus -->
    <link rel="stylesheet" href="../static/element-plus/element-plus@2.3.9_index.css">
    <script src="../static/element-plus/element-plus@2.3.9_index.full.min.js"></script>
    <!-- element-plus-icons-vue-->
    <script src="../static/element-plus_icons-vue/element-plus_icons-vue@2.1.0_index.iife.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="root-container">
            <div class="login_box">
                <h1>欢迎使用 {{title}}</h1>

                <div class="login_tip" v-show="isLogin">
                    <span>当前检测到 <strong>{{this.currentUser.username}}</strong> 用户已登录</span>
                    <button v-show="this.currentUser.role === 'user'" @click="this._navigateToHomePage(this.currentUser.role)" style="color: #337ecc;">进入用户首页</button>
                    <button v-show="this.currentUser.role === 'admin'" @click="this._navigateToHomePage(this.currentUser.role)" style="color: #337ecc;">进入管理员模式</button>
                    <button @click="this.onClick_logoutBtn" style="color: #c45656;">注销登录</button>
                </div>

                <form>
                    <div class="form_group">
                        <el-input class="input_box" prefix-icon="User" v-model="this.loginBox.username"
                            placeholder="用户名"></el-input>
                    </div>
                    <div class="form_group">
                        <el-input class="input_box" type="password" prefix-icon="Lock" show-password
                            v-model="this.loginBox.password" placeholder="密码"></el-input>
                    </div>
                </form>
                <el-button class="form_btn" id="loginBtn" type="primary" :disabled="!isLoginBtnEnable"
                    :loading="this.LoginBtnLoading" @click="onClick_loginBtn">登 录 </el-button>
                <div class="form_group">
                    <button class="register_dialog_popup_btn"
                        @click="this.dialogVisible = !this.dialogVisible">注册用户</button>
                </div>
            </div>
        </div>

        <!--注册对话框-->
        <el-dialog v-model="dialogVisible" title="注册用户" width="450px">
            <p style="text-align: center;">注册用户后，需<strong>等待管理员审批</strong>通过才可以使用。</p>
            <div class="form_group">
                <el-input class="input_box" prefix-icon="User" v-model="register.username"
                    placeholder="新用户名"></el-input>
            </div>
            <div class="form_group">
                <el-input class="input_box" prefix-icon="Message" v-model="register.email" placeholder="邮箱"></el-input>
            </div>
            <div class="form_group">
                <el-input class="input_box" type="password" prefix-icon="Lock" show-password v-model="register.password"
                    placeholder="密码"></el-input>
            </div>
            <div class="form_group">
                <el-input class="input_box" type="password" prefix-icon="Lock" show-password
                    v-model="register.password_again" placeholder="确认密码"></el-input>
            </div>
            <el-button class="form_btn" type="primary" :disabled="!isRegisterBtnEnable"
                :loading="this.registerBtnLoading" @click="onClick_registerBtn">确定注册
            </el-button>
        </el-dialog>

        <div style="position: fixed; bottom: 0; width: 100%;">
            <p style="text-align: center; color: #aaa; font-size: 0.75rem;">{{title}} 版权所有© 2020-2023</p>
        </div>
    </div>
</body>

<script src="index.js"></script>
<link rel="stylesheet" href="index.css">

</html>