<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理页 | XX系统</title>
    <!-- favicon-->
    <link rel="icon" href="../favicon.png">
    <!-- vue -->
    <script src="../static/vue/vue@3.3.4_vue.global.js"></script>
    <!-- axios -->
    <script src="../static/axios/axios@1.4.0_axios.min.js"></script>
    <!-- element-ui-plus -->
    <link rel="stylesheet" href="../static/element-plus/element-plus@2.3.9_index.css">
    <script src="../static/element-plus/element-plus@2.3.9_index.full.min.js"></script>
    <!-- element-plus-icons-vue-->
    <script src="../static/element-plus_icons-vue/element-plus_icons-vue@2.1.0_index.iife.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- headers -->
        <link rel="stylesheet" href="../common/headers.css" />
        <div class="headers">
            <div class="headers_left" style="background-color: rgb(255, 0, 0, 0.3);">基于xbc的管理系统<strong
                    style="padding-left: 1rem;">管理端</strong></div>
            <div class="headers_center">
                <a class="navigate_btn" href="/admin/" style="background-color: #337ecc;">用户信息管理</a>
                <a class="navigate_btn">页面2</a>
                <a class="navigate_btn">页面3</a>
            </div>
            <div class="headers_right">
                <a class="navigate_btn" href="/login/">退出管理员模式</a>
            </div>
        </div>
        <!-- headers end -->

        <!-- container -->
        <div class="container">

            <el-divider content-position="left">用户信息</el-divider>
            <div class="list">
                <el-empty v-if="!this.userList.length" description="无数据"></el-empty>
                <div class="list_item" v-for="(item, index) in this.userList" :key="index">

                    <!-- 左边的信息部分，弹性扩展到最大宽度 -->
                    <div
                        style="display: flex; align-items: center; justify-content: flex-start; gap: 30px; flex-grow: 1; flex-shrink: 0;">
                        <div class="text_small" style="color: #aaa;">
                            #{{(this.currentPage - 1) * this.defaultPageSize + index + 1}}
                        </div>
                        <div class="list" style="padding-right: 60px;">
                            <img :src="item.avatar" class="avatar" alt="头像" />
                        </div>
                        <div class="list" style="width: 12rem; row-gap: 5px;">
                            <div class="text_small">用户名：{{item.username}}</div>
                            <div class="text_small">昵称：{{item.nickname}}</div>
                            <div class="text_small">邮箱：{{item.email}}</div>
                            <div class="text_small">电话：{{item.phone}}</div>
                            <div class="text_small">性别：{{item.gender}}</div>
                        </div>
                        <div class="list" style="width: 12rem; row-gap: 5px;">
                            <div class="text_small">账户类型：{{item.role}}</div>
                            <div class="text_small">密码：{{item.password}}</div>
                            <div class="text_small">最后登录：{{item.last_login_time}}</div>
                            <div class="text_small">注册时间：{{item.create_time}}</div>
                            <div class="text_small">账户状态：{{item.enable === 1 ? "正常" : "停用"}}</div>
                        </div>
                    </div>

                    <!-- 右边的操作按钮，弹性缩小到最小宽度 -->
                    <div
                        style="display: flex; align-items: center; gap: 10px; flex-grow: 0; flex-shrink: 0;">

                        <el-tooltip content="编辑用户账户信息">
                            <el-button @click="editUserBtnOnClick(item)" type="primary" size="large" icon="Edit"
                                circle></el-button>
                        </el-tooltip>

                        <el-popconfirm v-if="item.enable === 0" @confirm="() => this.onClick_enableDisableAccount(item, 1)" title="确认要通过注册审批吗？" confirm-button-text="确定"
                            cancel-button-text="取消" confirm-button-type="success">
                            <template #reference>
                                <el-button color="#626aef" size="large" icon="Check" circle></el-button>
                            </template>
                        </el-popconfirm>
                        
                        <el-popconfirm v-else @confirm="() => this.onClick_enableDisableAccount(item, 0)" title="确认要封禁账户吗？" confirm-button-text="确定"
                            cancel-button-text="取消" confirm-button-type="danger">
                            <template #reference>
                                <el-button type="info" size="large" icon="Close" circle></el-button>
                            </template>
                        </el-popconfirm>

                        <el-popconfirm @confirm="this.onClick_deleteAccount(item)" title="确认要删除账户吗？" confirm-button-text="确定"
                            cancel-button-text="取消" confirm-button-type="danger">
                            <template #reference>
                                <el-button type="danger" size="large" icon="Delete" circle></el-button>
                            </template>
                        </el-popconfirm>

                    </div>
                </div>

                <el-pagination style="justify-content: center;" background hide-on-single-page="true"
                    layout="prev, pager, next" :total="this.userCount" :default-page-size="this.defaultPageSize"
                    v-model:current-page="this.currentPage"
                    @current-change="number => this.onClick_currentChange(number)"></el-pagination>
            </div>


        </div>

    </div>
</body>

<script src="index.js"></script>
<link rel="stylesheet" href="index.css">

</html>